footer.footer
    if admin
        button.btn.btn__second.btn__logout
            img.img.img__login(src="/img/logout.svg")
    else 
        button.btn.btn__second.btn__login
            img.img.img__login(src="/img/login.svg")
    .footer__cont
        p.footer__text=`© Tatiana Novická ${new Date().getFullYear()}`
        a.footer__link(href='https://www.facebook.com/TatiJanaN-handmade-249652415190403' target='_blank')
            img.img__social(src="/img/facebook.svg")
    .footer__cont
        p.footer__text vytvoril s &#x1F90D; Viliam Novický Visual Arts
        a.footer__link(href='https://www.facebook.com/ViliamNovickyVisualArts' target='_blank')
            img.img.img__social(src="/img/facebook.svg")
        a.footer__link(href='https://www.instagram.com/viliamnovicky/' target='_blank')
            img.img__social(src="/img/instagram.svg")
        a.footer__link(href='https://www.youtube.com/channel/UCp9fNN9AzBfN6XVvNykU-_Q' target='_blank')
            img.img__social(src="/img/youtube.svg")