footer.footer
  .footer-copyright.footer-copyright-1
    p.copyright
    #links1.footer-copyright-links
      a(href='https://www.facebook.com/TatiJanaN-handmade-249652415190403' target='_blank')
        i.fab.fa-facebook
  .footer-copyright
    p vytvoril s &#x1F90D; Viliam Novický Visual Arts
    .footer-copyright-links
      a(href='https://www.facebook.com/ViliamNovickyVisualArts' target='_blank')
        i.fab.fa-facebook
      a(href='https://www.instagram.com/viliamnovicky/' target='_blank')
        i.fab.fa-instagram
      a(href='https://www.youtube.com/channel/UCp9fNN9AzBfN6XVvNykU-_Q' target='_blank')
        i.fab.fa-youtube