
.header
    .header__logo
        h1.header__logo--h1 Tatiana Novická
        h3.header__logo--h3 HANDMADE
    nav.navbar
        a.navbar__link.nav__link--home(href="/") o mne
        a.navbar__link.nav__link--products(href="/produkty") produkty
        a.navbar__link.nav__link--costumers(href="/zakaznici") spokojní zákazníci
        a.navbar__link.nav__link--contact(href="/kontakt") kontakt
    
        