extends base

block content
    main.main.main__customers 
        .title 
            h1.title__header Spokojní zákazníci
        section#section-costumers.section.section-costumers.margin-under-header.margin-above-footer
            .cont-grid-4x
                #zakaznici01.cont-1-of-4.section-costumers-cont
                    h1.section-costumers-cont-h1 Danka a Janka
                    p.section-costumers-cont-p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        | vero id neque tempore dignissimos pariatur consectetur facilis
                        | eius debitis sit. Lorem ipsum dolor sit amet consectetur
                        | adipisicing elit.
                #zakaznici02.cont-1-of-4.section-costumers-cont
                    h1.section-costumers-cont-h1.section-costumers-cont-h1-right Oblie&ccaron;ky pre Milku
                    p.section-costumers-cont-p.section-costumers-cont-p-right
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        | vero id neque tempore dignissimos pariatur consectetur facilis
                        | eius debitis sit. Lorem ipsum dolor sit amet consectetur
                        | adipisicing elit.