extends base

block content
    
    main.main
        .title 
            h1.title__header Vitajte
        .section.section__home
            .about.about__bio
                h2.about__header Zopár slov o mne
                .about__cont
                    img.img.img__home(src="/img/home01.png")
                    img.img.img__blob.img__blob--1(src="/img/home-blob-1.svg")
                    img.img.img__blob.img__blob--2(src="/img/home-blob-2.svg")
                    p.about__text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        | nesciunt nemo non dolorem, deleniti quidem officiis ipsum. Saepe,
                        | tempora neque ea quam cum minima rem necessitatibus aliquam iure
                        | veritatis autem aspernatur vitae molestiae exercitationem vel
                        | quaerat laudantium in sint itaque magni earum. Beatae, ipsum dicta
                        | quo vitae dolorum dignissimos hic consequatur incidunt voluptatibus,
                        | neque, minus modi unde ex quisquam eum adipisci aspernatur possimus
                        | commodi tempore facere! Labore officia corrupti atque magnam autem
                        | vero consequatur impedit voluptates neque, facilis magni adipisci
                        | voluptate ducimus porro sint rem, omnis error vitae soluta placeat
                        | totam dolorum sed accusantium minima.
            
            .about.about__description
                h2.about__header Každý produkt je jedinečný
                img.img.img__sewing(src="/img/about-sewing.png")
                .about__cont
                    .about__description--cont
                        h2.about__header Originálne strihy
                        img.img.img__sewing-blob(src="/img/sewing-blob-1.png")
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.Laboriosam amet voluptates necessitatibus voluptas tempora harumnatus enim quam numquam, eos corrupti accusamus non rem sit?
                    .about__description--cont
                        h2.about__header Cit pre detail
                        img.img.img__sewing-blob(src="/img/sewing-blob-2.png")
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.Laboriosam amet voluptates necessitatibus voluptas tempora harumnatus enim quam numquam, eos corrupti accusamus non rem sit?
                    .about__description--cont
                        h2.about__header Dôraz na kvalitu
                        img.img.img__sewing-blob(src="/img/sewing-blob-3.png")
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.Laboriosam amet voluptates necessitatibus voluptas tempora harumnatus enim quam numquam, eos corrupti accusamus non rem sit?
            .about.about__galantery
                    h2.about__header Široký výber látok
                    .about__cont
                        img.img.img__latky(src="/img/about-latky.png")
                        img.img.img__latky-blob(src="/img/blob-latky.png")
                        p.about__text
                            | K dispoz&iacute;cii m&aacute;te naozaj ve&lcaron;mi pestr&uacute; ponuku l&aacute;tok a materi&aacute;lov,
                            | sta&ccaron;&iacute; len povoli&tcaron; uzdu fant&aacute;zii a vybra&tcaron; si. A ak V&aacute;s z mojej ponuky
                            | neoslovila &zcaron;iadna, rada V&aacute;m u&scaron;ijem pekn&eacute; veci&ccaron;ky aj z l&aacute;tok, ktor&eacute;
                            | mi dod&aacute;te vy.
            .about.about__products
                    h2.about__header Fantázii sa medze nekladú
                    .about__cont
                        img.img.img__fantasy-blob(src="/img/fantasy-blob.png")
                        img.img.img__fantasy(src="/img/home-fantasy.png")
                        p.about__text
                            | Za tie roky, ktor&eacute; som str&aacute;vila so &scaron;ijac&iacute;m strojom som sa u&zcaron; stretla
                            | s r&ocirc;znymi v&yacute;zvami. Ka&zcaron;d&yacute; n&aacute;vrh, ktor&yacute; sa do&ccaron;k&aacute; fin&aacute;lnej podoby, mi
                            | prinesie ve&lcaron;k&uacute; d&aacute;vku radosti a rovnako aj chu&tcaron; tvori&tcaron; &dcaron;al&scaron;ie
                            | origin&aacute;lne n&aacute;pady. Ve&dcaron; pos&uacute;&dcaron;te sami &#x1F60D;
                        a.btn.btn__second.btn__products(href="/produkty") PRODUKTY