.admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 135rem;
    margin: auto;

    &__group {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__cont {
        height: 50rem;
        width: 65rem;
        overflow-x: scroll;
        margin: auto;     
        margin-top: 5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        background: $color-white;
        width: 100%;
        height: 10rem;
        margin-top: .2rem;
        border-radius: 2rem;

        .title__header {
            margin-left: 2rem;
            width: 10rem;
            text-align: center;
        }
    }
}