#mikiny {
    background: url(../img/mikiny.jpg) center/cover;
}

#ciapky {
    background: url(../img/ciapky.jpg) center/cover;
}

#svetre {
    background: url(../img/svetre.jpg) center/cover;
}

#saty {
    background: url(../img/saty.jpg) center/cover;
}

#vankuse {
    background: url(../img/vankuse.jpg) center/cover;
}

#pribor {
    background: url(../img/pribor.jpg) center/cover;
}

#tasky {
    background: url(../img/tasky.jpg) center/cover;
}

#postielky {
    background: url(../img/postielky.jpg) center/cover;
}

#obrusy {
    background: url(../img/obrusy.jpg) center/cover;
}

#obliecky {
    background: url(../img/obliecky.jpg) center/cover;
}

#kabelky {
    background: url(../img/kabelky.jpg) center/cover;
}

#tasticky {
    background: url(../img/tasticky.jpg) center/cover;
}