.form {
    width: 50rem;
    margin: auto;
    height: calc(100vh - 25.5rem);
    background: $main-color;
    margin-top: 2rem;
    border-radius: 1rem;
    padding-top: 5rem;

    @include respond(tab-land) {
        width: 100vw;
    }

    &-cont {
        background: url(../img/ihla.png) no-repeat center center/cover
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 5rem;
    }

    label {
        text-transform: uppercase;
        font-size: $font-size-h4;
        margin-bottom: 1rem;
        display: block;

        @include respond(tab-land) {
            font-size: $font-size-p;
        }
    }

    input,
    textarea {
        width: 90%;
        font-size: $font-size-h4;
        margin-bottom: 5rem;
        text-align: left;
        padding: .5rem 2rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        resize: none;

        @include respond(tab-land) {
            width: 95vw;
            font-size: $font-size-p;
        }
    }

    &__new-item {
        height: calc(100vh - 35rem);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: rgba($main-color-transp, .5);

        @include respond(tab-land) {
            grid-template-columns: 1fr;
            height: 145rem;
        }
    }

    &__header {
        font-family: 'Dancing Script', cursive;
        font-size: $font-size-h2;
        padding-top: 13rem;
        margin-bottom: 2rem;
    }

    &__group {
        width: 70%;
        height: 100%;
        margin: auto;

        @include respond(tab-land) {
            width: 100%
        }
    }

    &__contact {
        background: none;
        margin-top: 0;
    }

    &__login {
        @include absolute-center;
        height: 32rem;
        background: none;
        width: 30rem;
    }
}

input[type=file]::file-selector-button {
    margin-right: 2rem;
    border: 1px solid $color-secondary;
    background: $color-white;
    color: $color-secondary;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background .2s ease-in-out;

    @include respond(tab-land) {
        width: 14rem;
        height: 3.8rem;
        font-size: $font-size-p;
    }
}

input[type=file]::file-selector-button:hover {
    background: $color-secondary;
    color: white;
    font-size: $font-size-p;
}