// Colors
$main-color: rgb(180, 255, 255);
$color-primary: rgb(180, 255, 255);
$main-color-transp: rgba(180, 255, 255, 0.5);

// $second-color: #cbc9bb;
// $second-color-transp: rgba(#cbc9bb, 0.5);

$second-color: rgb(255, 192, 190);
$second-color-transp: rgba(255, 234, 233, 0.5);

$color-white: white;

$dark-color: rgb(54, 54, 54);
$dark-color-transp: rgba(54, 54, 54, 0.5);

$light-color: rgb(235, 253, 253);
$light-color-transp: rgba(255, 255, 255, 0.5);

// Font sizes
$font-size-h1: 5rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-p: 1.6rem;
$font-size-btn: 2rem;
