// Colors
$main-color: rgb(180, 255, 255);
$color-primary: #b4ffff;
$main-color-transp: rgba(180, 255, 255, 0.5);

// $second-color: #cbc9bb;
// $second-color-transp: rgba(#cbc9bb, 0.5);

$color-secondary: #ffc0be;
$second-color-transp: rgba(255, 234, 233, 0.5);

$color-white: white;

$color-dark: rgb(54, 54, 54);

$color-light: rgb(235, 253, 253);

// Font sizes
$font-size-h1: 5rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-p: 1.6rem;
$font-size-btn: 2rem;
